<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FA14_3342_tuc72616ConnectionString" connectionString="Data Source=cis-mssql1.temple.edu;Initial Catalog=FA14_3342_tuc72616;Persist Security Info=True;User ID=tuc72616;Password=reeS7tha"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58771/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap"
                name="WebServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Project3.Properties.Settings>
            <setting name="Project3_SVC_WebService" serializeAs="String">
                <value>http://cis-iis2.temple.edu/fall2014/cis3342_tuc72616/Project3WS/WebService.asmx</value>
            </setting>
        </Project3.Properties.Settings>
    </applicationSettings>
</configuration>
